<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>invoice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-item lines="none">
          <ion-col>
            <ion-label>Name : </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>value</ion-label>
          </ion-col>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item lines="none">
          <ion-col>
            <ion-label>Wing No : </ion-label>
          </ion-col>
          <ion-col >
            <ion-label>value</ion-label>

          </ion-col>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item lines="none">
          <ion-col>
            <ion-label>Room No : </ion-label>
          </ion-col>
          <ion-col >
            <ion-label>value</ion-label>
          </ion-col>
        </ion-item>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-item (click)="onButtonClick()" >
      <ion-label>Bill Details</ion-label>
      <ion-icon slot="end" [name]="buttonClicked ? 'chevron-down-outline' : 'chevron-up-outline'"></ion-icon>
      <!-- <ion-toggle slot="end" (click)="hide()"></ion-toggle> -->
   </ion-item>
    <div *ngIf="buttonClicked" class="ion-padding">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Sr No.</th>
            <th>Service's</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.</td>
            <td>Water Service</td>
            <td>500/-</td>
          </tr>
          <tr>
            <td>2.</td>
            <td>Parking Service</td>
            <td>200/-</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th scope="row"></th>
            <td colspan="1">Total Amount : </td>
            <td>Rs.</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </ion-card>



  <ion-card>
    <ion-grid fixed>
      <ion-row>
        <ion-item lines="none">
          <ion-col>
            <ion-label>Bill Month : </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>value</ion-label>
          </ion-col>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item lines="none">
          <ion-col>
            <ion-label>Bill Date : </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>value</ion-label>
          </ion-col>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item lines="none">
          <ion-col>
            <ion-label>Bill Amount : </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>value</ion-label>
          </ion-col>
        </ion-item>
      </ion-row>
      <hr>

      <ion-row>
        <ion-item lines="none">
          <ion-col>
            <ion-label>Bill Due Date : </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>value</ion-label>
          </ion-col>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item lines="none">
          <ion-col>
            <ion-label>Bill Amount After Due Date : </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>value</ion-label>
          </ion-col>
        </ion-item>
      </ion-row>
    </ion-grid>
  </ion-card>
  
</ion-content>
<ion-footer>
  <ion-button expand="block" [routerLink]="['/']" routerLinkActive="router-link-active" >Pay Bill</ion-button>
</ion-footer>