<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="societyjc/societyj"></ion-back-button>
    </ion-buttons>
    <ion-title>memberdetails</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content> 
  <form #form="ngForm">       
    <ion-item>
      <ion-label position="floating"><ion-icon name="business-outline"></ion-icon> &nbsp; Society Name <ion-text color="danger">*</ion-text> </ion-label>
        <ion-input type="text" disabled ></ion-input>
    </ion-item><br>
    <ion-item>
        <ion-label>Name of wing's <ion-text color="danger">*</ion-text></ion-label>
            <ion-select>
                <ion-select-option value="A">A</ion-select-option>
                <ion-select-option value="B">B</ion-select-option>
                <ion-select-option value="C">C</ion-select-option>
                <ion-select-option value="D">D</ion-select-option>
            </ion-select>
    </ion-item><br>
    <ion-item>
        <ion-label position="floating"> Floor No. <ion-text color="danger">*</ion-text></ion-label>
            <ion-select interface="popovar">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
            </ion-select>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Room No <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating" >Address <ion-text color="danger">*</ion-text></ion-label>
        <ion-textarea disabled></ion-textarea>
    </ion-item><br>
    <ion-item>
        <ion-label>State <ion-text color="danger">*</ion-text></ion-label>
          <ion-input type="text" disabled></ion-input>  
      </ion-item>

 
</form>
   

</ion-content>

<ion-footer class="ion-no-margin ion-no-padding">
<ion-button  class="ion-no-margin ion-no-padding" style="height: 60px;" expand="full" [disabled]="!form.valid"   [routerLink]="['/','dashboard','memberdashboard']" routerLinkActive="router-link-active"   color="primary">join society</ion-button>
</ion-footer>
